@import url('../../variables.css');

.readNote__header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	background-color: var(--accent-colorL);
}

.readNote__logo{
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 2%;
}

.readNote__logo > h1{
	color: var(--background-colorL);
	text-shadow: 0px 0px 1px #121212;
	letter-spacing:0.5px;
	font-size: 1.5rem;
}



.readNote__searchBar{
	flex: 2;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 3%;
}

.readNote__searchBar > input {
	width: 70%;
	height: 30px;
	padding: 1em;
	border: none;
	border-bottom:1px solid var(--background-colorL) ;
	border-radius: 7px;
	background-color: transparent;
	color: var(--background-colorL);
	font-size: 1rem;
}

.readNote__searchBar > input::placeholder {
	color: inherit;
}

.readNote__searchBar > button {
	border:none;
	background-color: transparent;
	cursor: pointer;
	color:var(--background-colorL) ;
	text-shadow: 0px 0px 1px #121212;
}

main {
	padding: 2em;
}

main > h3 {
	padding-bottom: 1em;
	color:var(--text-colorL);
}

.readNote__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
	overflow: hidden;
}


.readNote__addBtn {
	position: fixed;
	bottom: 2rem;
	right: 2.2rem;
	border: none;
	border-radius: 50%;
	background-color:var(--accent-colorL) ;
	opacity:0.8;
	width: 70px;
	height: 70px;
}

.readNote__addBtn-icon {
	color:var(--background-colorL);
	text-shadow: 0px 0px 1px #121212;
	width: 70px;
	height: 70px;
}

@media screen and ( max-width:768px ){
	.readNote__logo > h1 {
		font-size: 1.2rem;
	}

	.readNote__container {
		grid-template-columns: repeat(2, 1fr);
	}
}


@media screen and ( max-width:425px ){
	.readNote__container {
		grid-template-columns: repeat(1, 1fr);
	}

	main {
		padding: 1em;
	}
	.readNote__searchBar{
		flex: 3;
		gap: 0px;
	}
	.readNote__searchBar > input{
		height: 25px;
		padding: .8em;
	}

	.readNote__searchBar > button {
		width: 35px;
	}

	.readNote__addBtn {
		width: 50px;
		height: 50px;
		bottom: 1.5rem;
		right: 1.5rem;
	}
	.readNote__addBtn-icon {
		width: 50px;
		height: 50px;
	}
}

@media screen and ( max-width:320px ) {
	.readNote__logo > h1  {
		font-size: 1rem;
	}
	main > h3 {
	font-size: 1rem;
}

}